html {
	overflow-y: scroll;
	scroll-behavior: smooth;
}
body {
	background-color: #0f0f0f;
	background-size: cover;
	font-family: Montserrat;
	color: white;
	margin: 0;
	margin-right: 20px;
}
h3 {
	margin-top: -3px;
}
a {
	color: white;
	text-decoration: none;
}
a:hover:not(.fa) {
	text-decoration: underline white;
}
p {
	margin-top: -5px;
	font-size: 0.9em;
	line-height: 1.15em;
}
.fa {
	font-size: 20px !important;
	padding-right: 10px;
	width: 25px;
}
#rectangle1 {
	min-height: 100%;
	position: fixed;
	overflow: hidden;
	border:	15px solid #b82d25;
	width: 0;
}
#rectangle2 {
	margin-left: 25px;
	min-height: 100%;
	position: fixed;
	overflow: visible;
	border:	15px solid #e53422;
	width: 0;
}
#rectangle3 {
	margin-left: 45px;
	min-height: 100%;
	position: fixed;
	overflow: hidden;
	border: 5px solid #efa12c;
	width: 0;
}
.sidebar {
	background-color: #0f0f0f;
	min-height: 100%;
	width: 300px;
	position: fixed;
	overflow: hidden;
	margin-left: 70px;
}
.sidebar h2 {
	line-height: 0.6;
	margin-bottom: 10px;
}
.sidebar .links {
	padding-top: 40px;
	font-size: 0.9em;
	line-height: 2;
}
.content {
	float: right;
	padding-top: 20px;
	width: 900px;
}
.entry {
	float: right;
	display: inline-grid;
	grid-template-columns: 2;
	grid-template-rows: 2;
	padding-bottom: 25%;
	grid-column-gap: 20px;
	grid-row-gap: 10px;
	width: 850px;
}
.entry .desc {
	max-width: 95%;
	grid-row-start: 1;
	grid-row-end: 3;
}
.imgcontent {
	grid-column-start: 2;
	max-width: 450px;
}
.imgabout {
	max-width: 100%;
	padding-bottom: 10px;
}